@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lora&family=Playpen+Sans:wght@200&family=Rubik&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lora&family=Playpen+Sans:wght@200&family=Rubik&family=Secular+One&display=swap');

:root {
    --cor1: #D8FFDB;
    --cor2: #C7FFED;
    --cor3: #008F8C;
    --cor4: #015958;
    --cor5: #023535;

    --fonte-padrao: 'Lora', serif;
    --fonte-destaque: 'DM Serif Text', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #008F8C;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: #C7FFED;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: var(--cor2);
    margin-bottom: 30px ;
    font-size: 3em; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
}

header > p {
    color: white;
    font-size: 1.2em;
    margin: auto;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.637);
}

nav {
    background-color: #015958;
    color: white;
    padding: 10px;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.452);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

nav > a:hover {
    background-color: #008F8C;
    color: #C7FFED;
    border-radius: 5px;
}

main {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

img {
    height: 65%;
    width: 75%;
    display: block;
    margin: auto;
    padding: 10px;
}

main {
    color: black;
}

h1 {
    color: black;
    font-family: var(--fonte-destaque);
    font-size: 25px;
}

main p {
    color: black;
    font-family: var(--fonte-padrao);
    margin: 15 px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.1em;
    padding-bottom: 10px;
}

main strong {
    color: #023535;
    font-weight: bold;
    line-height: 3em;
    padding: 2px 6px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 50%;
    padding: 5px;
}

figcaption {
    font-weight: bold;
    text-align: center;
}

div.video {
    background-color: #023535;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video >iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.home {
    width: 55%;
}





